.center{
  justify-content: center;
}
.tableej13{
  margin-left: 2em;
  height: 10em;
  width: 50em;
}

.formulario{
  width: 50%;
  margin: 0px 20em 5px 20em;
}

.claseimg{
  margin-left: 20em;
}

.imgej18{
  margin-left: 30px;
  margin-top: 100px;
  margin-bottom: 10px;
  display:inline-block;
  width: 300px;
  height: 400px;
  
}

.extra18{
  display:inline-block;
  
}